/* form  */
form,
head {
    margin: 0 auto;
}

form div {
    height: 44px;
    line-height: 44px;
    background-color: #ececec;
}

form div span {
    font: 18px 'weiruanyahei';
    color: #333;
}

/* table咋居中 */
form table {
    margin: 0 auto;
    font: 14px 'weiruanyahei';
}

form table input {
    width: 240px;
    height: 46px;
}

form table #check {
    width: 15px;
    height: 15px;
}

/* 咋顶过来之后不定格 */
form div em {
    color: #333;
    font: 14px 'weiruanyahei';
}

form div a {
    font: 14px 'weiruanyahei';
    color: #c81623;
}

/* footer  */
footer {
    margin: 0 auto;
}

footer .footer1 {
    height: 100px;
}

footer .footer1>div {
    width: 240px;
    float: left;
}

footer .footer1>div div {
    width: 55px;
    height: 53px;
    overflow: hidden;
}

footer .footer2 dl {
    float: left;
    width: 200px;
    height: 190px;
}

footer .footer2 dl dt {
    font: 16px 'weiruanyahei';
    color: #666;
}

footer .footer2 dl dd {
    font: 12px 'weiruanyahei';
    color: #666;
}

footer .footer3 ul {
    height: 200px;
}

footer .footer3 ul li {
    float: left;
}