.register_header {
    border-bottom: 1px solid #b1191a;
}

.register_loge {
    width: 200px;
    height: 96px;
    padding-top: 15px;
}

.register_loge img {
    width: 200px;
    height: 96px;
}

/* formarea start */
.registerarea {
    border: 1px solid #dfdfdf;
}

.registerarea h3 {
    height: 40px;
    background-color: #ececec;
    line-height: 41px;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 10px;
}

.registerarea h3 .login {
    float: right;
}

.registerarea h3 .login a {
    color: #c81623;
}

.register_form {
    margin-top: 35px;
    margin-left: 300px;
}

.register_form ul li label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.register_form ul li .ipt {
    border: 1px solid #999999;
    width: 243px;
    height: 36px;
    margin-bottom: 20px;
}

.register_form ul li:nth-child(4) {
    margin-left: 161px;
    margin-bottom: 20px;
}

.register_form ul li:nth-child(4) em {
    display: inline-block;
    width: 36px;
    height: 14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-right: 2px;
}

.di {
    background-color: #de1111;
}

.zhong {
    background-color: #40b83f;
}

.gao {
    background-color: #f79100;
}

.register_form ul li:nth-child(5) {
    margin-bottom: 30px;
}

.register_form ul li:nth-child(6) {
    margin-bottom: 40px;
}

.register_form ul li:nth-child(6) {
    margin-left: 91px;
}

.register_form ul li:nth-child(6) a {
    color: #1ba1e6;
}

.subm {
    width: 200px;
    height: 35px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin-left: 105px;
    margin-bottom: 57px;
}

.register_form ul li span {
    color: red;
}

.register_form ul li .fail,
.register_form ul li .success {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 10px;
}

.register_form ul li .fail {
    background: url(../imagines/error.png) no-repeat;
}

.register_form ul li .success {
    background: url(../imagines/success.png) no-repeat;
}

/* formarea end */