a {
    text-decoration: none;
}

body {
    color: #000;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-width: 340px;
    max-width: 1080px;
    margin: 0 auto;
    font-family: normal 14px/1.5 -apple-system, Helvetica, sans-serif;
    background-color: #f2f2f2;

    .search_index {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #F6F6F6;
        display: flex;

        .search {
            flex: 1;
            height: 26px;
            border: 1px solid #f2f2f2;
            margin: 7px 10px;
            line-height: 24px;
            font-size: 12px;
            color: #666;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

            &::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url(../images/sprite.png) no-repeat -59px -279px;
                background-size: 104px;
                vertical-align: middle;
                margin: auto 10px auto 10px;
            }
        }

        a {
            display: block;
            width: 44px;
            height: 44px;
            font-size: 12px;
            text-align: center;
            color: #2eaae0;

            &::before {
                display: block;
                content: "";
                width: 24px;
                height: 24px;
                background: url(../images/sprite.png) no-repeat -59px -193px;
                background-size: 104px;
                margin: 2px auto 3px;
            }
        }
    }

    .focus {
        margin-top: 44px;

        img {
            width: 100%;
        }
    }

    .local_nav {
        display: flex;
        width: 100%;
        padding: 10px 0 10px;
        background-color: #fff;

        a {
            display: block;
            flex: 1;
            text-align: center;
            color: #222;
            font-size: 12px;

            div[class^=img] {
                margin: 0 auto;
                width: 32px;
                height: 32px;
                background: url(../images/localnav_bg.png) no-repeat 0 0;
                background-size: 32px;
            }

            .img2 {
                background-position: 0 -32px !important;
            }

            .img3 {
                background-position: 0 -64px !important;
            }

            .img4 {
                background-position: 0 -96px !important;
            }

            .img5 {
                background-position: 0 -128px !important;
            }
        }
    }

    .nav {
        border-radius: 10px;
        overflow: hidden;

        .nav_common {
            display: flex;
            height: 88px;
            background: linear-gradient(to right, #fa5956, #fa9b4d);

            &:nth-child(2) {
                background: linear-gradient(to right, #4b8fed, #53bbed);
            }

            &:nth-child(3) {
                background: linear-gradient(to right, #34c2a9, #6cd558);
            }

            &:nth-child(n+2) {
                border-top: 2px solid #fff;
            }

            .nav_items {
                flex: 1;
                display: flex;
                flex-direction: column;

                &:nth-child(n+2) {
                    border-left: 1px solid #fff;
                }

                &:nth-child(1) a {
                    background: url(../images/hotel.png) no-repeat bottom;
                    background-size: 100%;
                }

                a {
                    flex: 1;
                    display: block;
                    text-align: center;
                    line-height: 44px;
                    color: #fff;
                    font-size: 14px;
                    text-shadow: 1px 1px rgba(0, 0, 0, .2);

                }
            }
        }
    }

    .sale_box {
        display: flex;
        flex-flow: row wrap;
        margin: 10px 0;

        a {
            flex: 20%;
            display: block;
            text-align: center;
            text-decoration: none;
            color: #222;

            .sale_box_icon {
                background: url('../images/subnav-bg.png') no-repeat 0 0;
                background-size: 22px;
                width: 22px;
                height: 18px;
                margin: 10px auto;
            }
        }
    }

    .sales {
        border-top: 1px solid #bbb;
        background-color: #fff;
        margin: 4px;

        .sales_hd {
            display: flex;
            position: relative;
            height: 44px;
            border-bottom: 1px solid #ccc;

            .more {
                margin-top: 13px;
                width: 73px;
                height: 15px;
                background: url('../images/hot.png') no-repeat 0 -20px;
                background-size: 79px;
            }

            a {
                position: absolute;
                right: 5px;
                top: 7px;
                background: linear-gradient(to left, #FF506C, #FF6BC6);
                border-radius: 15px;
                padding: 3px 20px 3px 10px;
                color: #fff;
            }

            .sales_bd {

                .row {
                    display: flex;

                    a {
                        display: block;
                        line-height: 0px;
                        flex: 1;
                        border-bottom: 1px solid #eee;
                        background-color: purple;

                        img {
                            vertical-align: bottom;
                            width: 10px;
                        }
                    }
                }
            }
        }
    }
}