* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 50px;
}
@media screen and (max-width: 340px) {
  html {
    font-size: 22.66666667rem;
  }
}
@media screen and (max-with: 750px) {
  html {
    font-size: 50rem;
  }
}
body {
  display: block;
  background-color: #f2f2f2;
  min-width: 340px;
  max-width: 750px;
  font-size: 0.36rem;
  margin: 0 auto !important;
}
body .search_content {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  display: flex;
  background-color: #e1251b;
  height: 1.76rem;
  text-align: center;
  font-size: 0.5rem;
}
body .search_content .classify {
  flex: 1;
  line-height: 1.76rem;
}
body .search_content .search {
  text-align-last: left;
  background-color: #fff;
  flex: 7;
  margin: 10px 0;
  border: 1px soild #f2f2f2;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  line-height: 1.36rem;
}
body .search_content .login {
  flex: 1;
  line-height: 1.76rem;
}
body .banner img {
  width: 100%;
}
body .ad {
  display: flex;
}
body .ad a {
  flex: 1;
}
body .ad a img {
  width: 100%;
  vertical-align: bottom;
}
body .nav a {
  display: inline-block;
  width: 3rem;
  height: 2.8rem;
  text-align: center;
  text-decoration: none;
}
body .nav a img {
  display: block;
  margin: 0.2rem auto;
  width: 1.64rem;
}
