* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
}

body {
    display: block;
    background-color: #f2f2f2;
    width: 750px;
    font-size: (18rem / 50);
    margin: 0 auto;

    .search_index {
        width: 750px;
        display: flex;
        background-color: #e1251b;
        height: 44px;
        text-align: center;

        .nav1 {
            flex: 1;
            line-height: 44px;

        }

        .search {
            text-align-last: left;
            background-color: #fff;
            flex: 7;
            margin: 10px 0;
            border: 1px soild #f2f2f2;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
        }

        .login {
            flex: 1;
            line-height: 44px;
        }
    }

    .focus {

        img {
            width: 100%;
        }
    }

    .banner {
        display: flex;

        a {
            flex: 1;
            display: inline-block;

            img {
                width: 100%;
                vertical-align: bottom;
            }
        }
    }

    .nav {
        a {
            display: inline-block;
            width: (150rem / 50);
            height: (140rem / 50);
            text-align: center;
            text-decoration: none;

            img {
                display: block;
                margin: 10px auto;
                width: (82rem / 50);
            }
        }
    }
}